/* ÁREA DO JOGO [ENGLOBA TODOS OS OUTROS ELEMENTOS] */
#container {
    margin: auto;
    width: 252px;
}

/* PLAYER */
img{
    border: 0;
    height: 50px;
}

/* MOSTRADOR */
#mostrador {
    margin-top: 40px;
    height: 80px;
}
#mostrador p{
    float: left;
    margin-right: 10px;
}

/* TABULEIRO */
/* criando os espaços, cria-se a estrutura do tabuleiro, só que com essas configurações, fica uma linha */
.celula{
    width: 80px;
    height: 60px;
    border: 2px solid #000;
    float: left;
    text-align: center;
    padding-top: 20px;
}
/* reduzindo o tamanho do tabuleiro consegue-se então colocar 3 espaços por linha */
.grid-tabuleiro{
    width: 252px; /* 3x84px(2px de borda + 80px + 2px de borda) */
}

